# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Arquivos de ambiente
.env
.env.*.local
.env.local

# Arquivos do sistema
.DS_Store
Thumbs.db

# Diretórios e arquivos de editores
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar vídeo pesado no repositório
public/video/projeto-eco-video.mp4

# Ignorar CSS específico (somente se não quiser versionar)
src/page/Home/home.css