.container-home {
    font-family: 'Arial', sans-serif;
    color: #000000;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner-container {
    position: relative;
    width: 100%;
    height: 620px;
    overflow: hidden;
    display: flex;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    border: solid rgb(255, 255, 255) 15px;
    border-radius: 30px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* INFORMAÇÕES DO BANNER */
.banner-informations {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    max-width: 1150px;
    margin: 0;
    padding-left: 280px;
}

.titulo-pagina-home h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: normal;
}

.titulo-img {
    height: 60px;
    width: auto;
}

.banner-informations h2 {
    color: rgb(64, 195, 83);
    animation: slideIn 1s ease-out; 
}

.banner-informations p {
    margin: 0.5rem 0;
    animation: slideIn 1.5s ease-out; 
    font-size: 18px;
    margin-top: 1rem;
}

.botao-saiba-mais {
    align-self: flex-end; 
    background-color: transparent;    
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: solid 1px aquamarine;
}

.botao-saiba-mais:hover {
    transform: scale(1.05);
}

.botao-saiba-mais:active {
    transform: scale(0.98);
}

.seta-para-baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
}

.seta-video {
    position: absolute;
    width: 70px;
    height: auto;
    cursor: pointer;
}

.informacoes-formulario {
    height: 450px;
    background-color: rgb(149, 198, 159);
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.informacoes-formulario p {
    font-size: 22px;
}

.informacoes-descarte {
    flex: 1 1 400px;
    max-width: 800px;
    padding: 2rem;
    border-radius: 12px;
}

.informativo {
    width: 600px;
}

.informativo-descarte h2 {
    font-size: 1.8rem;
    color: #112c15;
    margin-bottom: 2.5rem;
    display: inline-block;
    border-bottom: 2.5px solid #112c2b;
    padding-bottom: 2px; 
}

.etapa {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.titulo {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1rem;
}

.formulario-coleta {
    flex: 1 1 400px;
    max-width: 480px;
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-40px);
}

  /* Responsivo */
  @media (max-width: 768px) {
    .informacoes-formulario {
      flex-direction: column;
      padding: 1rem;
    }
  
    .informacoes-descarte,
    .formulario-coleta {
      max-width: 100%;
    }
  }

/* COMPONENTES IMPORTADOS */ 
.navegacao-home {
    margin-top: 150px;
}

.blog {
    margin-top: 150px;
}

.blog h3, 
.blog p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.mapa {
    margin-top: 150px;
}
.mapa h3,
.mapa p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

/* ENTIDADES */
.entidades {
    text-align: center;
    margin-top: 150px;
}

.entidades p {
    margin-top: 35px;
}

.cards-ent-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
}

.card-entidade {
    width: 300px;
    height: 440px;
    position: relative;
    padding: 20px;
    background: rgb(132, 159, 134);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.card-entidade:hover {
    border: 5px solid green;
}

.card-entidade img {
    height: 200px;
    border-radius: 25px;
}

/* Responsividade */
@media (max-width: 1200px) {
    .banner-informations {
        padding: 30px 100px;
    }

}

@media (max-width: 992px) {
    .banner-container {
        height: auto;
    }

    .banner-informations {
        margin-top: 100px;
        padding: 20px 60px;
        align-items: center;
        text-align: center;
    }

    .banner-informations h1 {
        font-size: 32px;
    }

    .banner-informations h2 {
        font-size: 24px;
    }

}

@media (max-width: 768px) {
    .banner-informations {
        padding: 20px 30px;
    }

    .banner-informations h1 {
        font-size: 26px;
    }

    .banner-informations h2 {
        font-size: 20px;
    }

}

@media (max-width: 480px) {
    .banner-informations h1 {
        font-size: 22px;
    }

    .banner-informations h2 {
        font-size: 18px;
    }
}




















.navegacao-interna {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navegacao-interna button {
    width: 200px;
    height: 140px;
    background-color: rgb(218, 217, 242);
    border-radius: 10px;
    border: solid 1px green;
    margin-left: 10px;
    margin-top: 20px;
}

.navegacao-interna a {
    font-size: 15px;
}

.navegacao-interna button:hover {
    transform: scale(1.05);
    color: rgb(48, 20, 132);
}