@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.container-home {
    font-family: 'Arial', sans-serif;
    color: #000000;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    border: solid rgb(255, 255, 255) 15px;
    border-radius: 30px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* INFORMAÇÕES DO BANNER */
.banner-informations {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Tahoma';
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
}

.banner-informations h1 {
    font-size: 2rem;
    animation: slideIn 2s ease-out; 
}

.banner-informations h2 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: aquamarine;
}

.banner-informations span {
    font-size: 2rem;
    background-color: azure;
}

/* APRESENTAÇÃO */
.apresentacao {
    display: flex;
    max-width: 800px;
    width: 100%;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.apresentacao-slide {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.apresentacao-slide.slide-in {
    opacity: 1;
    transform: translateX(0);
}

/* ENTIDADES */
.entidades {
    text-align: center;
    height: 400px;
}

.cards-ent-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
}

.card-entidade {
    height: 450px;
    background-color: white;
    width: 300px;
    border-radius: 8px;
    border: 3px solid green;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.card-entidade img {
    height: 200px;
}

.card-entidade span {
    font-size: 15px;
    color: black;
}

/* Responsividade */
@media (max-width: 1200px) {
    .banner-informations {
        padding: 30px 100px;
    }

    .apresentacao {
        width: 80%;
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .banner-container {
        height: auto;
    }

    .banner-informations {
        margin-top: 100px;
        padding: 20px 60px;
        align-items: center;
        text-align: center;
    }

    .banner-informations h1 {
        font-size: 32px;
    }

    .banner-informations h2 {
        font-size: 24px;
    }

    .apresentacao {
        width: 90%;
        font-size: 20px;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .banner-informations {
        padding: 20px 30px;
    }

    .banner-informations h1 {
        font-size: 26px;
    }

    .banner-informations h2 {
        font-size: 20px;
    }

    .background-video {
        height: 100%;
        border: none;
        border-radius: 0;
    }

    .apresentacao {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .banner-informations h1 {
        font-size: 22px;
    }

    .banner-informations h2 {
        font-size: 18px;
    }

    .apresentacao {
        font-size: 16px;
    }
}