.footer {
    color: white;
    margin-top: 100px;
}
 
.informacoes-site {
    background-color: #112b2c;
    height: 300px;
}
 
.faixa-copyright {
    background-color: rgb(39, 122, 39);
    height: 40px;
}
 
.footer table {
    border-spacing: 80px 10px;
    margin: 0 auto;
}
 
.footer th {
    text-align: start;
}
 
.footer img {
    width: 100px;
}