.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/folhas-escuras-fundo.jpg"); 
  opacity: 0.7;
  background-size: cover; 
  background-position: center;
  z-index: -1;
  pointer-events: none; 
}

.slide-carousel {
  position: relative;
  max-width: 100%;
  height: 400px;
  padding: 1rem;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.controls button {
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  background-color: rgb(52, 180, 80);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.controls button:hover {
  background-color: #1a6d4e;
}

.card {
  padding: 1rem;
}

.card p {
  color: #ffffff;
  margin: 0.5rem 0;
}

.card img {
  width: 200px;
  height: auto;
  margin-top: 1rem;
}

.links-section {
  padding: 1rem;
  max-width: 700px;
  margin: auto;
  font-size: 1rem;
  background-color: transparent;
  color: #ffffff;
}

.links-section p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}

.links-section ul {
  list-style: none;
  padding: 0;
}

.links-section li {
  padding: 8px 0;
}

.links-section li::before {
  content: "♻️";
  margin-right: 8px;
}

.links-section a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.links-section a:hover {
  color: #488d66;
}