.container-solicitacao-resumido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-solicitacao form {
    overflow-y: auto;
    height: auto; 
}

.resumo-coleta-form-group {
    display: flex;
    width: 320px;
    flex-direction: column;
}

.resumo-coleta-form-group label {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.container-solicitacao-resumido button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    background: #c61515c1;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: #fff;
    transition: background 0.3s ease;
}

.container-solicitacao-resumido button:hover {
    background: #c61515;;
}

.container-solicitacao-resumido label {
    margin-right: 60px;
    padding-left: 1px;
    font-size: 15px;
    color: #000000;
}

.resumo-coleta-form-group input {
    padding: 7px;
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}
.resumo-coleta-form-group input::placeholder {
    font-size: 14px;
    text-align: left;
}

.resumo-coleta-form-group input:focus {
    border: 2px solid #218962;
}

select[name="classeResiduo"] {
    padding: 7px;
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    color: #595959; 
}

select[name="classeResiduo"]:focus {
    border: 2px solid #218962;
}

select[name="classeResiduo"] option[value=""] {
    color: #999; 
    font-style: italic; 
}

.resumo-botoes-solicitacao {
    margin-top: 40px;
    text-align: center;
}

.resumo-coleta-form-group input[type="date"] {
    padding: 7px;
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    color: #595959; 
}