header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
}

header.with-transition {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.transparent {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
}
  
header.scrolled {
    width: 100%; 
    background-color: #112b2c;
}

.logo-header {
    position: absolute;
    left: 44.2%;
}

.logo-header img {
    max-height: 55px; 
}

.user-profile-picture img {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.user-name {
    position: absolute;
    left: 74px; 
    color: white;
    font-size: 16px;
    white-space: nowrap;
}

nav {
    backdrop-filter: blur(3px);
    width: 98.1%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
  
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
}

nav a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.abas {
    background-color: transparent;
    font-size: 17px;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
}

span {
    font-size: 20px;
    color: white;
}