.container-solicitacao {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    margin-top: 50px;
}

.container-solicitacao form {
    max-height: 90vh;
    overflow-y: auto;
    background-color: #eff0f5;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-group label {
    font-size: 15px;
    margin-bottom: 5px;
}

.dados-pessoais,
.dados-endereco,
.dados-residuo {
    margin-bottom: 40px;
}

.container-solicitacao button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    background: #218962;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: #fff;
    transition: background 0.3s ease;
}

.container-solicitacao button:hover {
    background: #173a3b;
}

.container-solicitacao label {
    margin-right: 60px;
    padding-left: 1px;
    font-size: 15px;
    color: #173a3b;
}

.titulo-solicitacao h1 {
    margin-bottom: 35px;
    text-align: center;
    font-size: 27px;
    color: #218962;
}

.form-group input {
    padding: 7px;
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
}
.form-group input::placeholder {
    font-size: 14px;
    text-align: left;
}

.form-group input:focus {
    border: 2px solid #218962;
}

.dados-pessoais h3,
.dados-endereco h3,
.dados-residuo h3,
.dados-data h3 {
    margin-bottom: 15px;
}

select[name="classeResiduo"] {
    padding: 7px;
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
}

select[name="classeResiduo"]:focus {
    border: 2px solid #218962;
}

select[name="classeResiduo"] option[value=""] {
    color: #999; 
    font-style: italic; 
}

.container-solicitacao button[type="reset"] {
    width: 30%;
    margin-top: 50px;
    cursor: pointer;
    background-color: #ff5656; 
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: #fff;
    transition: background 0.3s ease;
}

.container-solicitacao button[type="reset"]:hover {
    background-color: #d63f3f; 
}

.container-solicitacao button[type="reset"]:active {
    background-color: #c82323; 
}

.botoes-solicitacao {
    margin-top: 40px;
    text-align: center;
}

.form-group textarea {
    padding: 7px;
    width: 100%;
    height: 100px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 14px;
    resize: vertical; 
    min-height: 80px;      /* altura mínima */
    max-height: 200px;     /* altura máxima */
}

.form-group textarea:focus {
    border: 2px solid #218962;
}

.form-group input[type="file"] {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    width: 100%;
    height: 40px;
}

.form-group input[type="date"],
.form-group input[type="time"] {
    padding: 7px;
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}