.container-mapa {
  margin: 100px auto 0 auto; 
  font-family: sans-serif;
  padding-left: 30px;  
  padding-right: 30px; 
  margin-bottom: 50px;
}

.busca-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}

.form-area {
  flex: 1 1 300px;
  background-color: #ecfdf5;
  border-radius: 16px;
  padding: 35px;
  border: 2px solid #10b981;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  color: #064e3b;
  margin-bottom: 8px;
}

.section-description {
  font-size: 14px;
  color: #065f46;
  margin-bottom: 24px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group label {
  font-weight: 600;
  font-size: 14px;
  color: #065f46;
  margin-bottom: 4px;
  display: block;
}

.form-group select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #a7f3d0;
  background-color: #ffffff;
  font-size: 14px;
}

.search-button {
  margin-top: 24px;
  width: 100%;
  padding: 12px;
  background-color: #047857;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: #065f46;
}

.map-area {
  flex: 1 1 600px;
  min-height: 320px;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid #10b981;
}

.result-section {
  margin-top: 60px;
}

.result-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #064e3b;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.card-result {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  width: 320px;
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 0.8rem;
  font-family: 'Arial', sans-serif;
  border: 1px solid black;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-result:hover {
  transform: scale(1.04);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 20px;
}

.card-result p {
  margin: 0;
  font-size: 17px;
  color: #333333;
}

.card-result ul {
  list-style: none;
}

.card-result ul li {
  font-size: 17px;
  margin-bottom: 0.3rem;
  text-decoration: none;
}

.card-result strong {
  font-weight: 600;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #22c55e;
  border-radius: 50%;
}

.input-text {
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #a7f3d0;
  background-color: #ffffff;
  font-size: 14px;
  transition: border 0.2s ease-in-out;
}

.input-text:focus {
  outline: none;
  border-color: #10b981;
}

.input-text::placeholder {
  color: #9ca3af;
}

.btn-coleta {
  background-color: #15b928;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-coleta:hover {
  background-color: #107a1c;
}