.secaoResiduos {
    margin-top: 150px;
}

.secaoResiduos h2 { 
    font-size: 16px;
    line-height: 1.4;
}

.containerBotoes {
    display: flex;
    align-items: center;      
    justify-content: center;   
    width: 800px;
    margin: auto;     
    flex-wrap: wrap; 
    gap: 20px; 
}   

.containerResiduo button {
    cursor: pointer;
    border: none;
    width: 240px;
    height: 150px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.containerResiduo a {
    text-decoration: none;
    color: black;
}

.containerResiduo a:hover {
    color: green;
}

.containerResiduo button:hover {
    transform: translateY(-5px) scale(1.05);
}

.containerResiduo img {
    width: 80px;
    padding-bottom: 10px;
    object-fit: contain;
}