.registro-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #112b2c;
}

/* Formulário */
.formulario-cadastro {
  width: 450px;
  min-height: 530px;
  background-color: #eff0f5;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.formulario-cadastro h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #218962;
}

.formulario-cadastro label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
  color: #173a3b;
}

.formulario-cadastro input,
.formulario-cadastro select {
  width: 100%;
  height: 35px;
  padding: 7px;
  font-size: 15px;
  font-family: inherit;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #333;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.formulario-cadastro input:focus,
.formulario-cadastro select:focus {
  border: 2px solid #218962;
  box-shadow: 0 0 5px rgba(33, 137, 98, 0.3);
}

.formulario-cadastro input::placeholder {
  font-size: 15px;
  text-align: left;
}

.formulario-cadastro select option {
  background-color: #fff;
  color: #333;
}

.formulario-cadastro button[type="submit"],
.formulario-cadastro button[type="button"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  background: #218962;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
  color: #fff;
  transition: background 0.3s ease;
}

.formulario-cadastro button[type="submit"]:hover,
.formulario-cadastro button[type="button"]:hover {
  background: #173a3b;
}

.input-container {
  position: relative;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 17px;
  z-index: 2;
}

.sign-in-link {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.sign-in-link a {
  text-decoration: none;
  margin-left: 4px;
  color: #218962;
}

.sign-in-link a:hover {
  text-decoration: underline;
}

.etapa-formulario {
  display: flex;
  flex-direction: column;
}

.grupo-campos {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}