/* Container principal da tela de registro */
.container-elementos-registro {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  background: url("../../img/entulho-foda-login.png") no-repeat center;
  background-size: cover;
}

/* Lado direito - formulário */
.registro-form {
  background-color: #fff;
  padding: 45px;
  height: 630px;
  width: 500px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.h1-registro {
  font-size: 28px;
  color: #333;
  margin-bottom: 23px;
  text-align: center;
}

.registro-form label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: 500;
}

.registro-form input,
.registro-form select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

.registro-form input:focus,
.registro-form select:focus {
  border-color: #22a73e;
}

.input-group {
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.eyeIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
}

.eyeIcon:hover {
  color: #22a73e;
}

/* Botão */
.registro-submit-button {
  width: 100%;
  padding: 12px;
  background-color: #22a73e;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 17px;
}

.registro-submit-button:hover {
  background-color: #18782b;
}

/* Link para login */
.sign-in-link {
  margin-top: 18px;
  text-align: center;
}

.sign-in-link a {
  color: #1b8a32;
  text-decoration: none;
  font-weight: 500;
}

.sign-in-link a:hover {
  text-decoration: underline;
}
